/* .App {
  text-align: center;
  background-color: #282c34;
  height: 400px;
  width: 240px;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 30px;
  width: 240px;
}

.App-title {
  margin-top: 5px;
  margin-bottom: auto;
  font-size: 15px;
} */